{
  "env": {
    "test": {
      "presets": [
        "react",
        "env"
      ],
      "plugins": ["transform-class-properties"]
    },
    "build": {
      "plugins": ["transform-react-jsx", "transform-class-properties"],
      "presets": ["env"],
    }
  }
}

