{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "extends": ["airbnb"],
  "plugins": [],
  "rules": {
    "no-console": 0,
    "import/extensions": 0,
    "eol-last": 0,
    "no-unused-vars": 1,
    "import/prefer-default-export": 0,
    "react/jsx-filename-extension": 0,
    "global-require": 0,
    "indent": 1,
    "import/no-extraneous-dependencies": 0,// Because of webpack alias
    "no-await-in-loop": 0, //Because of upload delay
    "comma-dangle": 0,// Will cause warnings when breaking line in function arguments
    "no-underscore-dangle": 0, // For lodash, underscore, ramda
    "prefer-const":  1,
    "no-debugger": 0,
    "import/no-unresolved": 0,
    "no-trailing-spaces": 1,
    "import/no-named-as-default": 0
  }
}
